{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      <p {% if forloop.last %}class="mb-0"{% endif %}>
        {{ error }}
      </p>
    {% endfor %}
  </div>
{% endif %}

<form method="post" action='{% if action_url %}{{ action_url }}{% else %}{% url "accounts:login" %}{% endif %}' novalidate>
  {% csrf_token %}

  {% if next_url %}
    <input type='hidden' name='next' value='{{ next_url }}'>
    {% endif %}
  
  {% include 'layouts/form.html' %}
  
  <button style="background-color:#dc3545;" class="btn btn-block btn-lg font-weight-bold text-white" type="submit">Se connecter</button><!-- /.end button login -->
</form>
