<p>Hello {{ user.get_full_name }}, <br>
Thank you for registering with RentMarket !

Please click on this <a target="_blank" href="{{ path }}">link</a> to confirm your email address. This means that you will be able to reset your password if you forget it later.</p> <br>

<p>If you cannot click on the link from your email program, please copy this URL and paste it into your web browser :
    <a class="text-center" target="_blank" href='{{ path }}'>{{ path }}</a>
</p> 

<p>Thank you, <br>
Team RentMarket.</p>
