[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
six="*"
argon2-cffi="*"
Brotli="*"
Django="*"
django-widget-tweaks="*"
django-heroku="*"
django-toolbelt="*"
gunicorn="*"
pillow="*"
whitenoise="*"
django-countries="*"
python-decouple="*"
django-phonenumber-field="*"
phonenumbers="*"
django-user-agents="*"
pyyaml="*"
ua-parser="*"
user-agents="*"
stripe='*'
django-social-share='*'
cloudinary='*'


[requires]
python_version = "3.8.3"
