argon2-cffi==20.1.0
asgiref==3.2.10
Babel==2.8.0
Brotli==1.0.7
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cloudinary==1.21.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.0.8
django-cloudinary-storage==0.2.3
django-countries==6.1.2
django-heroku==0.3.1
django-phonenumber-field==4.0.0
django-toolbelt==0.0.1
django-user-agents==0.4.0
django-widget-tweaks==1.4.8
geoip2==3.0.0
gunicorn==20.0.4
idna==2.10
maxminddb==1.5.4
phonenumbers==8.12.6
Pillow==7.1.2
pkg-resources==0.0.0
psycopg2==2.8.5
pycparser==2.20
python-decouple==3.3
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
static3==0.7.0
ua-parser==0.10.0
urllib3==1.25.9
user-agents==2.1
whitenoise==5.1.0
