{% extends "accounts/base.html" %}
{% block auth_content %}
  <div class="card">
    <h3 class="card-header text-uppercase text-center py-3"><i class="fa fa-user mr-2"></i> Mon compte </h3>
    <div class="card-body">
        <form method="post" novalidate>
          {% csrf_token %}
          {% include 'layouts/form.html' %}

          <div class="col-lg-12 py-3">
            <button type="submit" class="btn block btn-lg btn-success rounded text-white"><span class="font-weight-bold text-uppercase">Enregistrer les modifications</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock auth_content %}