{% extends "accounts/base.html" %}

{% block auth_content %}
<h4 class="card-title text-uppercase text-center">
  </i> se connexion
</h4>

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      <p {% if forloop.last %}class="mb-0"{% endif %}>
        {{ error }}
      </p>
    {% endfor %}
  </div>
{% endif %}

<form method="post" novalidate>
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}">
  {% include 'layouts/form.html' %}
  
  <button style="background-color:#dc3545;" class="btn btn-block btn-lg font-weight-bold text-white" type="submit">Se connecter</button><!-- /.end button login -->

  <div class="d-flex align-items-center justify-content-lg-end justify-content-center py-3">
    <a href="{% url 'accounts:password_reset' %}">Mot de passe oublié ?</a>
  </div><!-- password reset link -->

  <div class="text-center mt-3">
    Nouvel utilisateur ? <a href="{% url "accounts:signup" %}" class="text-dark font-weight-bold"><u>Inscription</u></a>
  </div><!-- signup link -->
</form>
{% endblock auth_content %}
