{% extends "accounts/base.html" %}
{% block auth_content %}
{% if validlink %}
Change password for {{ form.user.full_name }}
{% else %}
Reset your password
{% endif %}


{% if validlink %}
  <h4 class="card-title text-uppercase text-center">
    Change password for @{{ form.user.full_name }}
  </h4>
  <form method="post" action="" novalidate>
    {% csrf_token %}
    {% include 'layouts/form.html' %}
    <!-- Submit Button -->
    <button style="background-color:#dc3545;" class="btn btn-block btn-md font-weight-bold text-white" type="submit">Change password</button>
    <!-- /.end button login -->
  </form>
{% else %}
  <h4 class="card-title text-uppercase text-center">
    Reset your password
  </h4>
  <div class="alert alert-danger" role="alert">It seems that you clicked on an invalid password reset link. Please try again.
  </div>
  <a href="{% url 'accounts:password_reset' %}" class="btn btn-secondary btn-block">Request a new password reset link.</a>
{% endif %}
{% endblock auth_content %}
