{% extends "accounts/base.html" %}
{% block auth_content %}
  <div class="card">
    <h3 class="card-header text-center py-3">Le mot de passe a été modifié !</h3>
    <div class="card-body">
      <div class="alert alert-success" role="alert">
        Vous avez réussi à changer votre mot de passe ! Vous pouvez maintenant vous connecter.
      </div>

      <a href="{% url 'accounts:login' %}" class="btn btn-secondary btn-block">Retour à la page de connexion</a>
    </div>
  </div>
{% endblock auth_content %}