{% extends "accounts/base.html" %}
{% block auth_content %}
  <div class="card">
    <h3 class="card-header text-center py-3">Réinitialiser votre mot de passe</h3>
    <div class="card-body">
      <p>Consultez votre courriel pour trouver un lien qui vous permettra de réinitialiser votre mot de passe. S'il n'apparaît pas dans les minutes qui suivent, vérifiez votre dossier de courrier indésirable.</p>
      
      <a href="{% url 'accounts:login' %}" class="btn btn-secondary btn-block">Retour à la page de connexion</a>
    </div>
  </div>
{% endblock auth_content %}