{% extends "accounts/base.html" %}
{% block auth_content %}
  <div class="card">
    <h4 class="card-header text-uppercase text-center py-3">Réinitialiser votre mot de passe</h4>
    <div class="card-body">
      {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              <p {% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
            {% endfor %}
          </div>
      {% endif %}

      <form method="post" novalidate>
        <p class="col-lg-12">Saisissez votre adresse électronique et nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>
        {% csrf_token %}
        {% include 'layouts/form.html' %}

        <!-- Submit Button -->
        <div class="py-3 col-lg-12">
          <button style="background-color:#dc3545;" class="btn btn-block btn-md font-weight-bold rounded" type="submit">
            Envoyer l'email de réinitialisation
          </button>
        </div><!-- /.end button login -->
      </form>
    </div>
  </div>
{% endblock auth_content %}
