{% extends "accounts/base.html" %}

{% block auth_content %}
<h4 class="card-title text-uppercase text-center">
Réinitialiser votre mot de passe</h4>

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
    <p {% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
    {% endfor %}
  </div>
{% endif %}

<form method="post" novalidate>
  <p class="col-lg-12">Saisissez votre adresse électronique et nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>
  {% csrf_token %}
  {% include 'layouts/form.html' %}

  <!-- Submit Button -->
  <button style="background-color:#dc3545;" class="btn btn-block btn-md font-weight-bold text-white" type="submit">
  Envoyer l'email de réinitialisation</button><!-- /.end button login -->
</form>
{% endblock auth_content %}
