{% extends "accounts/base.html" %}
{% block auth_content %}
  {% if validlink %}
    Changer le mot de passe pour {{ form.user.username }}
  {% else %}
    Réinitialiser votre mot de passe
  {% endif %}

  <div class="card">
    <div class="card-body">
      {% if validlink %}
        <h4 class="card-header text-uppercase text-center py-3">
          Changer le mot de passe pour @{{ form.user.username }}
        </h4>
        <form method="post" novalidate>
          {% csrf_token %}
          {% include 'layouts/form.html' %}
          <!-- Submit Button -->
          <div class="py-3 col-lg-12">
            <button style="background-color:#dc3545;" class="btn btn-block btn-md font-weight-bold text-white rounded" type="submit">
            Changer de mot de passe</button>
          </div><!-- /.end button login -->
        </form>
      {% else %}
        <h4 class="card-header text-uppercase text-center py-3">
            Réinitialiser votre mot de passe
        </h4>
        <div class="alert alert-danger" role="alert">
          Il semble que vous ayez cliqué sur un lien de réinitialisation de mot de passe non valide. Veuillez réessayer.
        </div>
        <a href="{% url 'accounts:password_reset' %}" class="btn btn-secondary btn-block">Demander un nouveau lien de réinitialisation du mot de passe</a>
      {% endif %}
    </div>
  </div>
{% endblock auth_content %}