{% extends "accounts/base.html" %}
{% load widget_tweaks %}

{% block auth_content %}
<h4 class="card-title text-uppercase text-center">
Create your account</h4>

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
        <p {% if forloop.last %} class="mb-0"{% endif %}>
            {{ error }}
        </p>
        {% endfor %}
    </div>
{% endif %}

<form method="post" novalidate>
    {% csrf_token %}

    {% include 'layouts/form.html' %}
    
    <!-- Submit Button -->
    <button style="background-color:#dc3545;" class="btn btn-block font-weight-bold py-2 text-white" type="submit">Create your account</button>
    <!-- /.end button login -->
    
    <!-- Already Registered -->
    <div class="text-center w-100 mt-3">
        You already have an account?<p class="text-muted font-weight-bold"> <a href="{% url "accounts:login" %}" class="text-dark font-weight-bold"><u>Login</u></a></p>
    </div>
</form>
{% endblock auth_content %}
