 <div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url "home" %}">
                            <i class="fa fa-home"></i>
                        </a>
                        <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="{{ STATIC_PREFIX }}img/svg/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg>
                    </li>

                    <li class="breadcrumb-item">
                        categorie 
                        {% for cat in category %}
                            {{ cat.count|pluralize:"s" }}  
                                <a href="{{ cat.get_absolute_url }}">
                                    : {{ cat.name|safe }}
                                    {% if not forloop.last %}, {% endif %}
                                </a>
                            {% if not forloop.last %}
                                <svg class="breadcrumb-arrow" width="6px" height="9px">
                                    <use xlink:href="{{ STATIC_PREFIX }}img/svg/sprite.svg#arrow-rounded-right-6x9"></use>
                                </svg>
                            {% endif %}
                        {% endfor %}
                    </li>

                    <li class="breadcrumb-item active" aria-current="page">
                        {{ object.name }}
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
