<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url "home" %}">
                            <i class="fa fa-home"></i>
                        </a>
                        <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="{{ STATIC_PREFIX }}img/svg/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg>
                    </li>

                    {% if object.category.exists %}  
                        <li class="breadcrumb-item">
                            Categor{{ category.count|pluralize:"y,ies" }}:  
                            {% for cat in object.category.all|slice:'0:4' %}
                                <a href="{{ cat.get_absolute_url }}">
                                    {{ cat.name|safe }}
                                    {% if not forloop.last %}&smid;{% endif %}
                                </a>
                                <svg class="breadcrumb-arrow" width="6px" height="9px">
                                    <use xlink:href="{{ STATIC_PREFIX }}img/svg/sprite.svg#arrow-rounded-right-6x9"></use>
                                </svg>
                            {% endfor %}
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {{ object.name|safe }}
                        </li>
                    {% else %}
                        <li class="breadcrumb-item active" aria-current="page">
                            {{ page_title|title }}
                        </li>
                    {% endif %}
                </ol>
            </nav>
        </div>
    </div>
</div>
