<footer class="site__footer footer" style="">
    <div class="site-footer">
        <div class="container">
            <div class="site-footer__widgets">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="site-footer__widget footer-contacts">
                            <h5 class="footer-contacts__title">Contact US</h5>
                            <div class="footer-contacts__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in feugiat lorem. Pellentque ac placerat tellus.
                            </div>

                            <ul class="footer-contacts__contacts">
                                <li>
                                    <i class="footer-contacts__icon fas fa-globe-americas"></i>Bouaké, Air-france II - Côte d'Ivoire
                                </li>
                                <li>
                                    <i class="footer-contacts__icon far fa-envelope"></i>rentmarket@example.com
                                </li>
                                <li>
                                    <i class="footer-contacts__icon fas fa-mobile-alt"></i>
                                    (225) 51 571 396, (225) 77 274 886
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-6 col-md-3 col-lg-2">
                        <div class="site-footer__widget footer-links">
                            <h5 class="footer-links__title">Informations</h5>
                            <ul class="footer-links__list">

                                <li class="footer-links__item">
                                    <a title="À propos de nous" href="{% url "about" %}" class="footer-links__link">About Us</a>
                                </li>

                                <li class="footer-links__item">
                                    <a title="Contactez-nous" href="{% url "contact" %}" class="footer-links__link">Contact Us</a>
                                </li>

                                <li class="footer-links__item">
                                    <a title="Informations sur la livraison" href="{% url 'delivery' %}" class="footer-links__link">Delivery Information</a>
                                </li>

                                <li class="footer-links__item">
                                    <a title="Politique de confidentialité" href="{% url "cgu" %}" class="footer-links__link">Privacy Policy</a>
                                </li>

                                <li class="footer-links__item">
                                    <a title="Plan du site" href="#" class="footer-links__link">Site Map</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-6 col-md-3 col-lg-2">
                        <div class="site-footer__widget footer-links">
                            <h5 class="footer-links__title">Account</h5>
                            <ul class="footer-links__list">
                                <li class="footer-links__item">
                                    <a title="historique des commandes" href="." class="footer-links__link">History Orders</a>
                                </li>

                                <li class="footer-links__item">
                                    <a title="Liste de souhaits" href="{% url "shop:wishlist" %}" class="footer-links__link">WishList</a>
                                </li>

                                <li class="footer-links__item">
                                    <a title="Affiliate" href="." class="footer-links__link">Affiliate</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-4">
                        <div class="site-footer__widget footer-newsletter">
                            <h5 class="footer-newsletter__title">Newsletter</h5>
                            <div class="footer-newsletter__text">
                                Praesent pellentesque volutpat ex, vitae auctor lorem pulvinar mollis felis at lacinia.
                            </div>

                            <form method='POSt' class="footer-newsletter__form">
                                <label class="sr-only" for="footer-newsletter-address">Email Address</label>
                                <input type="text" class="footer-newsletter__form-input form-control" id="footer-newsletter-address" placeholder="Email Address...">
                                <button class="footer-newsletter__form-button btn btn-primary">Subscribe</button>
                            </form>

                            <div class="footer-newsletter__text footer-newsletter__text--social">Follow us on social networks</div>

                            <ul class="footer-newsletter__social-links">
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--facebook">
                                    <a title='@flavien-hugs' href="https://www.facebook.com/flavien.hugs" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--twitter">
                                    <a title='flavien_hugs' href="https://twitter.com/flavien_hugs" target="_blank"><i class="fab fa-twitter"></i>
                                    </a>
                                </li>

                                <li class="footer-newsletter__social-link footer-newsletter__social-link--instagram">
                                    <a target="_blank" href="https://web.whatsapp.com/send?phone=22551571396"><i class="fab fa-whatsapp"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="site-footer__copyright">&copy; Copyright
                    <script>
                         document.write(new Date().getFullYear());
                    </script>
                    <a href="{% url "home" %}" title="RentMarket"> RentMarket </a> &mdash; Bêta test &mdash; V.0.0.1
                </div>
                <div class="site-footer__payments">
                    <img src="{{ STATIC_PREFIX }}img/payments.png" alt="payement">
                </div>
            </div>
        </div>
    </div>
</footer><!-- site__footer / end -->
