<footer class="site__footer footer flex-shrink-0 text-white" style="background-color:#3d464d;">
    <div class="site-footer">
        <div class="container">
            <div class="site-footer__widgets">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="site-footer__widget footer-contacts">
                            <h5 class="footer-contacts__title">Contactez-nous</h5>
                            <div class="footer-contacts__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in feugiat lorem. Pellentque ac placerat tellus.
                            </div>

                            <ul class="footer-contacts__contacts">
                                <li>
                                    <i class="footer-contacts__icon fas fa-globe-americas"></i> 715 Fake Street, New York 10021 USA
                                </li>
                                <li>
                                    <i class="footer-contacts__icon far fa-envelope"></i>rentmarket@example.com
                                </li>
                                <li>
                                    <i class="footer-contacts__icon fas fa-mobile-alt"></i>
                                    (800) 060-0730, (800) 060-0730
                                </li>
                                <li>
                                    <i class="footer-contacts__icon far fa-clock"></i> Mon-Sat 10:00pm - 7:00pm
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-6 col-md-3 col-lg-2">
                        <div class="site-footer__widget footer-links">
                            <h5 class="footer-links__title">Informations</h5>
                            <ul class="footer-links__list">

                                <li class="footer-links__item">
                                    <a title="À propos de nous" href="{% url "about" %}" class="footer-links__link">À propos de nous</a>
                                </li>

                                <li class="footer-links__item">
                                    <a title="Contactez-nous" href="{% url "contact" %}" class="footer-links__link">Contactez-nous</a>
                                </li>

                                <li class="footer-links__item">
                                    <a title="Informations sur la livraison" href="#" class="footer-links__link">Informations sur la livraison</a>
                                </li>

                                <li class="footer-links__item">
                                    <a title="Politique de confidentialité" href="{% url "cgu" %}" class="footer-links__link">Politique de confidentialité</a>
                                </li>

                                <li class="footer-links__item">
                                    <a title="Plan du site" href="#" class="footer-links__link">Site Map</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-6 col-md-3 col-lg-2">
                        <div class="site-footer__widget footer-links">
                            <h5 class="footer-links__title">Mon Compte</h5>
                            <ul class="footer-links__list">
                                <li class="footer-links__item">
                                    <a title="historique des commandes" href="#" class="footer-links__link">Historique des commandes</a>
                                </li>

                                <li class="footer-links__item">
                                    <a title="Liste de souhaits" href="{% url "shop:wishlist" %}" class="footer-links__link">Liste de souhaits</a>
                                </li>

                                <li class="footer-links__item">
                                    <a title="Affiliate" href="#" class="footer-links__link">Affiliate</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-4">
                        <div class="site-footer__widget footer-newsletter">
                            <h5 class="footer-newsletter__title">Newsletter</h5>
                            <div class="footer-newsletter__text">
                                Praesent pellentesque volutpat ex, vitae auctor lorem pulvinar mollis felis at lacinia.
                            </div>

                            <form action="#" class="footer-newsletter__form">
                                <label class="sr-only" for="footer-newsletter-address">Email Address</label>
                                <input type="text" class="footer-newsletter__form-input form-control" id="footer-newsletter-address" placeholder="Email Address...">
                                <button class="footer-newsletter__form-button btn btn-primary">Subscribe</button>
                            </form>

                            <div class="footer-newsletter__text footer-newsletter__text--social">Suivez-nous sur les réseaux sociaux</div>

                            <ul class="footer-newsletter__social-links">
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--facebook">
                                    <a href="#" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--twitter">
                                    <a href="#" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="footer-newsletter__social-link footer-newsletter__social-link--instagram">
                                    <a href="#" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="site-footer__copyright">&copy; Copyright
                    <script>
                    document.write(new Date().getFullYear());
                    </script>
                    <a href="{% url "home" %}" title="RentMarket"> RentMarket</a> &mdash; Bêta test &mdash; V.0.0.1
                </div>
                <div class="site-footer__payments">
                    <img src="{{ STATIC_PREFIX }}img/payments.png" alt="payement">
                </div>
            </div>
        </div>
    </div>
</footer><!-- site__footer / end -->
