{% load formtags widget_tweaks %}

{% if next_url %}
    <input type='hidden' name='next' value='{{ next_url }}'>
{% endif %}

{% for field in form %}
    <div class="row">
        <div class="input-group col-lg-12 mb-4">
            <div class="input-group-prepend">
                <span class="input-group-text bg-white px-3 border-md border-right-0">
                    <i class="fa {% if field.name == 'full_name' %}fa-user {% elif field.name == 'email' %} fa-envelope {% elif field.name == 'city' %} fa-city {% elif field.name == 'country' %} fa-globe {% elif field.name == 'phone_number' %} fa-mobile-alt {% elif field.name == 'password' %} fa-lock {% elif field.name == 'password1' %} fa-lock {% elif field.name == 'password2' %} fa-lock {% endif %} text-muted"></i>
                </span>
            </div>

            {% render_field field class=field|input_class %}

            {% for error in field.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        
            {% if field.help_text %}
                <small class="form-text text-muted">
                    {{ field.help_text|safe }}
                </small>
            {% endif %}
        </div>
    </div>
{% endfor %}
