<header class="py-5 bg-dark header_2">
    <nav class="header_menu_2 transparent pt-30 pb-30 mt-20">
        <div class="container px-xl-0">
            <div class="row justify-content-between align-items-baseline">
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="mb-3 logo color-white d-block d-xl-none text-center logo_mobile">
        RentMaket
        </div>
        <h4 class="color-white text-center">Location voiture, camping-car, bateau, vélo, outils...<br>Rapide et facile</h4>

        <div class="mw-620 mx-auto mt-35 f-22 color-white op-7 text-center text-adaptive">
            <p>Mettez en location les objets, vetements , appariels... Que vous n'utilisez plus! ça peut servir à d'autre et vous vous faites de l'argent tranquille.
            </p>
        </div>
    </div>
</header>