<div class="products-view__options">
    <div class="view-options">
        <div class="view-options__layout">
            <div class="layout-switcher">
                <div class="layout-switcher__list">
                    <button data-layout="grid-3-sidebar" data-with-features="false" title="Grid" type="button" class="layout-switcher__button layout-switcher__button--active">
                        <svg width="16px" height="16px">
                            <use xlink:href="{{ STATIC_PREFIX }}img/svg/sprite.svg#layout-grid-16x16"></use>
                        </svg>
                    </button>

                    <button data-layout="grid-3-sidebar" data-with-features="true" title="Grid With Features" type="button" class="layout-switcher__button">
                        <svg width="16px" height="16px">
                            <use xlink:href="{{ STATIC_PREFIX }}img/svg/sprite.svg#layout-grid-with-details-16x16"></use>
                        </svg>
                    </button>

                    <button data-layout="list" data-with-features="false" title="List" type="button" class="layout-switcher__button">
                        <svg width="16px" height="16px">
                            <use xlink:href="{{ STATIC_PREFIX }}img/svg/sprite.svg#layout-list-16x16"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>