{% if rating %}
    <div class="rating">
        <div class="rating__body">
            <svg class="rating__star rating__star--active" width="13px" height="12px">
                <g class="rating__fill">
                    <use xlink:href="{{ STATIC_PREFIX }}img/sprite.svg#star-normal">
                    </use>
                </g>

                <g class="rating__stroke">
                    <use xlink:href="{{ STATIC_PREFIX }}img/sprite.svg#star-normal-stroke"></use>
                </g>
            </svg>

            <div class="rating__star rating__star--only-edge rating__star--active">
                <div class="rating__fill">
                    <div class="fake-svg-icon"></div>
                </div>
                <div class="rating__stroke">
                    <div class="fake-svg-icon"></div>
                </div>
            </div>

            <svg class="rating__star rating__star--active" width="13px" height="12px">
                <g class="rating__fill">
                    <use xlink:href="{{ STATIC_PREFIX }}img/sprite.svg#star-normal"></use>
                </g>
                <g class="rating__stroke"><use xlink:href="{{ STATIC_PREFIX }}img/sprite.svg#star-normal-stroke">
                </use></g>
            </svg>

            <div class="rating__star rating__star--only-edge rating__star--active">
                <div class="rating__fill">
                    <div class="fake-svg-icon"></div>
                </div>
                <div class="rating__stroke">
                    <div class="fake-svg-icon">
                    </div>
                </div>
            </div>

            <svg class="rating__star rating__star--active" width="13px" height="12px">
                <g class="rating__fill">
                    <use xlink:href="{{ STATIC_PREFIX }}img/sprite.svg#star-normal"></use>
                </g>
                <g class="rating__stroke">
                    <use xlink:href="{{ STATIC_PREFIX }}img/sprite.svg#star-normal-stroke">
                    </use>
                </g>
            </svg>
            <div class="rating__star rating__star--only-edge rating__star--active">
                <div class="rating__fill">
                    <div class="fake-svg-icon"></div>
                </div>

                <div class="rating__stroke">
                    <div class="fake-svg-icon">
                    </div>
                </div>
            </div>

            <svg class="rating__star rating__star--active" width="13px" height="12px">
                <g class="rating__fill">
                    <use xlink:href="{{ STATIC_PREFIX }}img/sprite.svg#star-normal"></use>
                </g>

                <g class="rating__stroke">
                    <use xlink:href="{{ STATIC_PREFIX }}img/sprite.svg#star-normal-stroke"></use>
                </g>
            </svg>

            <div class="rating__star rating__star--only-edge rating__star--active">
                <div class="rating__fill">
                    <div class="fake-svg-icon">
                    </div>
                </div>
                <div class="rating__stroke">
                    <div class="fake-svg-icon">
                    </div>
                </div>
            </div>

            <svg class="rating__star rating__star--active" width="13px" height="12px">
                <g class="rating__fill">
                    <use xlink:href="{{ STATIC_PREFIX }}img/sprite.svg#star-normal"></use>
                </g>
                <g class="rating__stroke">
                    <use xlink:href="{{ STATIC_PREFIX }}img/sprite.svg#star-normal-stroke"></use>
                </g>
            </svg>

            <div class="rating__star rating__star--only-edge rating__star--active">
                <div class="rating__fill">
                    <div class="fake-svg-icon"></div>
                </div>
                <div class="rating__stroke">
                    <div class="fake-svg-icon">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

