<div class="row">
    <div class="col-12">
        <div class="block">
            <div class="products-view">
                {% include "layouts/option.html" %}

                <div class="products-view__list products-list" data-layout="grid-4-full" data-with-features="false">
                    <div class="products-list__body">
                        {% include "shop/products/product_list_item.html" %}
                    </div>
                </div>

                {% include "layouts/paginate.html" %}
            </div>
        </div>
    </div>
</div>