{% extends "shop/index.html" %}
{% load humanize widget_tweaks %}

{% block slideshow %}{% endblock slideshow %}

{% block content %}
    {% block breadcrumb %}
        {% include "layouts/breadcrumb.html" %}    
    {% endblock breadcrumb %}

    <div class="checkout block">
        <div class="container">
            {% if not payment %}
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    Returning customer ?
                                </div>

                                {% include 'accounts/guest/form.html' with form=login_form next_url=request.build_absolute_uri %}
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 col-xl-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    Continue as Guest
                                </div>
                                {% url "accounts:guest" as guest_register_url %}

                                {% include 'accounts/guest/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                {% if not object.shipping_address %}
                    <div class="row d-flex justify-content-center">
                        <div class="{% if object.billing_address.exists %}col-12 col-lg-6 col-xl-6 {% else %} col-8{% endif %}">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                    Shipping Address</div>

                                    {% url "address:checkout_address_create" as checkout_address_create %}

                                    {% include 'address/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}
                                </div>
                            </div>

                             {% if object.billing_address.exists %}
                                <div class="col-12 col-lg-6 col-xl-6">
                                    <div class="card">
                                        <div class="card-body">
                                            {% url "address:checkout_address_reuse" as checkout_address_reuse %}

                                            {% include 'address/prev_address.html' with form=address_form next_url=request.build_absolute_uri address_type='shipping' action_url=checkout_address_reuse %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% elif not object.billing_address %}
                    <div class="row d-flex justify-content-center">
                        <div class="{% if object.billing_address.exists %}col-12 col-lg-6 col-xl-6 {% else %} col-8{% endif %}">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">
                                    Billing Address</div>
                                    {% url "address:checkout_address_create" as checkout_address_create %}

                                    {% include 'address/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' %}
                                </div>
                            </div>
                        </div>

                        {% if object.billing_address.exists %}
                            <div class="col-12 col-lg-6 col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                        Your Billing Address</div>
                                        {% url "address:checkout_address_reuse" as checkout_address_reuse %}

                                        {% include 'address/prev_address.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='billing' action_url=checkout_address_reuse %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    {% if not has_card %}
                        <div class="row d-flex justify-content-center">
                            <div class="col-12 col-lg-8 col-xl-8">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="card-title">
                                        Choose Payment Card</div>
                                        <div class='form-group stripe-payment-form' data-token='{{ publish_key }}' data-next-url='{{ request.build_absolute_uri }}' data-btn-title='Add Payment Method'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-12 mt-4 mt-lg-0">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <h3 class="card-title">Finalize Checkout</h3>
                                    <table class="cart__table cart-table">
                                        <thead class="cart-table__head">
                                            <tr class="cart-table__row">
                                                <th class="cart-table__column">Product</th>
                                                <th class="cart-table__column">Shipping Address</th>
                                                <th class="cart-table__column">Billing Address</th>
                                                <th class="cart-table__column">Payment Method</th>
                                            </tr>
                                        </thead>

                                        <tbody class="cart-table__body cart-body">
                                            <tr class="cart-table__row">
                                                <td class="cart-table__column">
                                                    {% for obj in object.location.product.all %}
                                                        <p>({{ forloop.counter }}) {{ obj|truncatewords:10|safe }}</p>
                                                    {% endfor %}
                                                </td>

                                                <td class="cart-table__column">
                                                {{ object.shipping_address_final }}</td>

                                                <td class="cart-table__column">
                                                {{ object.billing_address_final }}</td>
                                                <td class="cart-table__column">
                                                    {{ payment.default_card }}
                                                    (<a href="{{ payment.get_payment_method_url }}?next={{ request.build_absolute_uri }}">Change</a>)
                                                <td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="row pt-3">
                                        <div class="col-12">
                                            <table class="cart__table cart-table">
                                                <thead class="cart-table__head">
                                                    <tr>
                                                        <th class="cart-table__column">Cart Total</th>
                                                        <th class="cart-table__column">Shipping Total</th>
                                                        <th class="cart-table__column">Order Total</th>
                                                    </tr>
                                                </thead>

                                                <tbody class="cart-table__body cart-body">
                                                    <tr class="cart-table__row">
                                                        <td class="cart-table__column">{{ object.location.total|intcomma }}</td>
                                                        <td class="cart-table__column">{{ object.shipping_total|intcomma }}</td>
                                                        <td class="cart-table__column">{{ object.total|intcomma }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <form class='py-5' method='POST'>
                                                {% csrf_token %}
                                                <div class="text-center">
                                                    <input type="submit" class="btn btn-success my-3" value="Finalize Checkout">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block js %}
<script src="https://js.stripe.com/v3/"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.88/jsrender.min.js'></script>
{% include 'layouts/stripe.html' %}
{% endblock js %}
