<!-- js -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.0/nouislider.min.js"></script>
<!-- Stripe JS 
<script src="https://js.stripe.com/v3/"></script>-->
<!-- js Render -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.88/jsrender.min.js'></script>
{% include 'includes/template.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.min.js"></script>
<script src="{{ STATIC_PREFIX }}js/number.js"></script>
<script src="{{ STATIC_PREFIX }}js/main.js"></script>
<script src='{{ STATIC_PREFIX }}js/ajax.js'></script>
<script src='{{ STATIC_PREFIX }}js/stripe.main.js'></script>
<script>svg4everybody();</script>