<meta charset="utf-8" >
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no">
<meta name="author" content="flavien-hugs">
<meta name="description" content="Vous retrouverez tous ce dont vous aurez besoin dans votre quotidien">
<link rel="icon" type="image/x-icon" href="{{ STATIC_PREFIX }}img/favicon.png">
<!-- fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i">
