{% extends "base.html" %}

{% block slideshow %}{% endblock slideshow %}

{% block content %}
    {% block breadcrumb %}
        {% include "layouts/breadcrumb.html" %}    
    {% endblock breadcrumb %}
    
    <div class="block">
        <div class="container">
            <div class="not-found">
                <div class="not-found__404">
                Oops! Error 500</div>
                <div class="not-found__content">
                    <h1 class="not-found__title">Page Not Found</h1>
                    <p class="not-found__text">We can't seem to find the page you're looking for.<br>Try to use the search.</p>

                    <a class="btn btn-secondary btn-sm" href="{% url 'home' %}">Go To Home Page</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
