{% load shoptags %}
<!-- .block-products-carousel -->
<div class="block block-products-carousel" data-layout="grid-5">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">Featured Products</h3>
            <div class="block-header__divider"></div>
                {% include "shop/products/snippets/btn.html" %}
            </div>

            <div class="block-products-carousel__slider">
                <div class="block-products-carousel__preloader"></div>
                <div class="owl-carousel">
                    {% for obj in featured_product %}
                        {% include "shop/products/snippets/carousel.html" with instance=obj %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div><!-- end block-products-carousel -->
