{% spaceless %}
<!DOCTYPE html>
    <html lang="fr">
    <head>
        {% load static %} {% get_static_prefix as STATIC_PREFIX %}
        {% include "includes/meta.html" %}
        {% include "includes/css.html" %}
        <title>Akwaba sur RentMarket</title>
    </head>

    <body>
        <!-- Navigation -->
        {% include "includes/nav.html" %}<!-- End Navigation -->

        <!-- site -->
        <div class="site">
            <!-- mobile site__header -->
            {% include "includes/menu/mobile.html" %}
            {% include "includes/menu/desktop.html" %}
            <!-- mobile site__header / end -->

            <section class="container-body">
                <div class="site__body">
                    {% block slideshow %}
                    {% endblock slideshow %}

                    {% block content %}
                    {% endblock content %}
                </div>
            </section>

            <!-- site footer -->
            {% include "layouts/footer.html" %}
            <!--./end footer -->
        </div><!-- ./end site -->
        
        {% include "includes/js.html" %}
        <!-- Custom scripts for this template -->      
    </body>
</html>
    
{% endspaceless %}
