{% spaceless %}
<!DOCTYPE html>
    <html lang="fr">
    <head>
        {% load static %} {% get_static_prefix as STATIC_PREFIX %}
        {% include "includes/meta.html" %}
        {% include "includes/css.html" %}
        <title>Akwaba sur RentMarket</title>
    </head>

    <body class="d-flex flex-column">
        <!-- Navigation -->
        {% include "includes/menu/nav.html" %}<!-- End Navigation -->
        <!-- site -->
        <div class="site">
            <div class="flex-grow-1 flex-shrink-0">
                <!-- mobile site__header -->
                {% include "includes/menu/mobile.html" %}
                {% include "includes/menu/desktop.html" %}
                <!-- end mobile site__header -->

                <!-- site__body -->
                <div class="site__body">
                    {% block slideshow %}{% endblock slideshow %}
                    {% block content %}{% endblock content %}
                </div>
            </div>
            <!-- site footer -->
            {% include "layouts/footer.html" %}<!--./end footer -->
        </div><!-- ./end site -->
        
        {% include "includes/js.html" %}
        <!-- Custom scripts for this template -->      
    </body>
</html>
    
{% endspaceless %}
