{% load static avatar %}
{% get_static_prefix as STATIC_PREFIX %}
{% if review_list %}
    <div class="reviews-view__list">
        <h5 class="reviews-view__header">Customer Reviews</h5>
        <div class="reviews-list">
            <ol class="reviews-list__content">
                {% for obj in review_list %}
                    <li class="reviews-list__item">
                        <div class="review">
                            <div class="review__avatar">
                                <img src="{{ obj.name|avatar }}" alt="{{ obj.name }}">
                            </div>
                            
                            <div class="review__content">
                                <div class="review__author">
                                    {{ obj.name|title|safe }}
                                </div>

                                <div class="review__rating">
                                    {% include "layouts/rating.html" with rating=obj.rating %}
                                </div>

                                <div class="review__text">
                                    {{ obj.comment|safe }}
                                </div>
                                <div class="review__date">
                                {{ obj.date|date }}</div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ol>
            {% include "shop/review/review_paginate.html" %}
        </div>
    </div>
{% endif %}
