{% load shoptags %}

{% show_review_list 3 %}

<form class="reviews-view__form" action="{% url 'shop:add_review' object.slug %}" method="post" novalidate>
    {% csrf_token %}
    <h3 class="reviews-view__header">Un commentaire sur le produit ?</h3>
    <div class="row">
        <div class="col-12 col-lg-9 col-xl-8">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="{{ fom.rating.id_for_label }}">{{ fom.rating.label }}</label>
                    <select name="{{ form.rating.name }}" id="{{ form.rating.id_for_label }}" class="form-control">
                        {% for c in form.rating %}{{ c }}{% endfor %}
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label for="{{ form.name.id_for_label }}">Votre {{ form.name.label }}</label>
                    <input name='{{ form.name.name }}' type="text" class="form-control" id="{{ form.name.id_for_label }}" placeholder="Votre nom" required="True">
                </div>

                <div class="form-group col-md-4">
                    <label for="{{ form.email.id_for_label }}">Votre {{ form.email.label }}</label>
                    <input name='{{ form.email.name }}' type="email" class="form-control" id="{{ form.email.id_for_label }}" placeholder="Votre adresse email" required="True">
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.comment.id_for_label }}">{{ form.comment.label }}</label>
                <textarea placeholder="Laisser votre avis sur ce produit" name='{{ form.comment.name }}' class="form-control" id="{{ form.comment.id_for_label }}" rows="6"></textarea>
            </div>
            <div class="form-group mb-0">
                <button type="submit" value="Valider" class="btn btn-primary btn-lg">Valider</button>
            </div>
        </div>
    </div>
</form>
