{% if history_product or request.user.is_authenticated  %}
    <div class="block block-products-carousel" data-layout="grid-4-sm">
        <div class="block-header">
            <h3 class="block-header__title">
            Product View History</h3>
            <div class="block-header__divider"></div>

            {% include "shop/products/snippets/arrow.html" %}
        </div>

        <div class="block-products-carousel__slider">
            <div class="block-products-carousel__preloader"></div>
            <div class="owl-carousel">
                {% for obj in history_product %}
                    {% include "shop/products/snippets/carousel.html" with instance=obj.content_object %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

