<div class="block block-products-carousel" data-layout="grid-4-sm">
    <div class="block-header">
        <h3 class="block-header__title">Related Products</h3>
        <div class="block-header__divider"></div>

        {% include "shop/products/snippets/arrow.html" %}
    </div>

    <div class="block-products-carousel__slider">
        <div class="block-products-carousel__preloader"></div>
        <div class="owl-carousel">
            {% for obj in related_product %}
            {% include "shop/products/snippets/carousel.html" with instance=obj %}
            {% endfor %}
        </div>
    </div>
</div>
