{% extends "shop/index.html" %}
{% load static humanize social_share %} {% get_static_prefix as STATIC_PREFIX %}

{% block slideshow %}{% endblock slideshow %}

{% block content %}
    {% block breadcrumb %}
    {% include "layouts/breadcrumb.html" %}    
    {% endblock breadcrumb %}

    <div class="container">
        <div class="shop-layout shop-layout--sidebar--start">
            {% include "layouts/sidebar.html" %}

            <div class="shop-layout__content">
                <div class="block">
                    <div class="product product--layout--sidebar" data-layout="sidebar">
                        <div class="product__content">
                            <!-- .product__gallery -->
                            <div class="product__gallery">
                                <div class="product-gallery">
                                    <div class="product-gallery__featured">
                                        <div class="owl-carousel" id="product-image">
                                            {% include "shop/products/snippets/image.html" %}
                                        </div>
                                    </div>

                                    <div class="product-gallery__carousel">
                                        <div class="owl-carousel" id="product-carousel">
                                            {% include "shop/products/snippets/image.html" %}
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .product__gallery / end -->

                            <!-- .product__info -->
                            <div class="product__info">
                                <div class="product__wishlist-compare">
                                    <a href="{% url "shop:wishlist" %}" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right" title="Ajouter à la liste à souhait">
                                        <svg width="16px" height="16px">
                                            <use xlink:href="{{ STATIC_PREFIX }}img/sprite.svg#wishlist-16"></use>
                                        </svg>
                                    </a>

                                    <a href="{% url "shop:compare" %}" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right" title="Comparer">
                                        <svg width="16px" height="16px">
                                            <use xlink:href="{{ STATIC_PREFIX }}img/sprite.svg#compare-16"></use>
                                        </svg>
                                    </a>
                                </div>

                                <h1 class="product__name">
                                {{ object.name|truncatewords:8|safe }}</h1>

                                <div class="product__rating">
                                    <!-- reviews rating -->
                                    <div class="product__rating-stars">
                                        {% include "layouts/rating.html" %}
                                    </div>
                                    <!-- end reviews rating --> 

                                    <div class="product__rating-legend">
                                        <a href="{{ object.get_absolute_url }}#tab-reviews">{{ object.review.rating }} Reviews</a>
                                        <span>/</span>
                                        <a href="{{ object.get_absolute_url }}#tab-reviews">Write A Review</a>
                                    </div>
                                </div>

                                <div class="product__description">
                                    {{ object.desc|truncatewords:15|safe }}
                                </div>
                                <ul class="product__features">
                                    <li>Speed: 750 RPM</li>
                                    <li>Power Source: Cordless-Electric</li>
                                    <li>Battery Cell Type: Lithium</li>
                                    <li>Voltage: 20 Volts</li>
                                    <li>Battery Capacity: 2 Ah</li>
                                </ul>

                                <ul class="product__meta">
                                    <li class="product__meta-availability">
                                        Availability: <span class="text-success">{{ object.available|yesno:'Yes,No' }}</span>
                                    </li>
                                    <li>Brand: <a href="#">Wakita</a></li>
                                    <li>SKU: 83690/32</li>
                                </ul>
                            </div><!-- .product__info / end -->

                            <!-- .product__sidebar -->
                            <div class="product__sidebar">
                                <div class="product__availability">
                                    Available
                                    <span class="text-success">
                                        {{ object.available|yesno:'Yes,No' }}
                                    </span>
                                </div>
                                <div class="product__prices">
                                {{ object.price|intcomma }}</div>

                                <!-- .product__options -->
                                <form class="product__options" method='POST' action="{% url "location:update" %}" data-endpoint="{% url "location:update" %}" {% if request.user.is_authenticated %}data-user='unsta'{% endif %}>
                                    {% csrf_token %}
                                    <input type='hidden' name='product_id' value='{{ object.id }}'>
                                    <div class="form-group product__option">
                                        <div class="product__actions">
                                            <div class="product__actions-item product__actions-item--addtocart submit">
                                                {% if object in location.product.get_available %}
                                                    <button type="submit" class="btn btn-primary btn-lg">Delete ?</button>
                                                {% else %}
                                                    <button type="submit" class="btn btn-primary btn-lg">Add</button>
                                                {% endif %}
                                            </div>

                                            <div class="product__actions-item product__actions-item--wishlist submit">
                                                <a href="." type="submit" class="btn btn-secondary btn-svg-icon btn-lg whishlist" data-toggle="tooltip" title="Add to whishlist">
                                                    <svg width="16px" height="16px">
                                                        <use xlink:href="{{ STATIC_PREFIX }}img/sprite.svg#wishlist-16">
                                                        </use>
                                                    </svg>
                                                </a>
                                            </div>

                                            <div class="product__actions-item product__actions-item--compare">
                                                <button type="button" class="btn btn-secondary btn-svg-icon btn-lg" data-toggle="tooltip" title="Compare">
                                                    <svg width="16px" height="16px">
                                                        <use xlink:href="{{ STATIC_PREFIX }}img/sprite.svg#compare-16"></use>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form><!-- .product__options / end -->
                            </div><!-- .product__end -->

                            <div class="product__footer">
                                <div class="product__tags tags">
                                    <div class="tags__list">
                                        {% for category in object.category.all|slice:'0:3' %}
                                            <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="product__share-links share-links">
                                    <ul class="share-links__list">

                                        <li class="share-links__item share-links__item--type--tweet">
                                            {% post_to_twitter "I would like to recommend this product on RentMarket." object.build_absolute_uri "Tweet" %}
                                        </li>

                                        <li class="share-links__item share-links__item--type--like">
                                            {% post_to_facebook object.build_absolute_uri 'Facebook' %}
                                        </li>

                                        <li class="share-links__item share-links__item--type--pin">
                                            {% post_to_whatsapp '{{ object.name }}' "Whatsapp" %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product-tabs product-tabs--layout--sidebar">
                        <div class="product-tabs__list">
                            <a href="#tab-description" class="product-tabs__item product-tabs__item--active">Description
                            </a>
                            <a href="#tab-specification" class="product-tabs__item">Specification</a>

                            <a href="#tab-reviews" class="product-tabs__item">Reviews</a>
                        </div>

                        <div class="product-tabs__content">
                            <div class="product-tabs__pane product-tabs__pane--active" id="tab-description">
                                <div class="typography">
                                    <h5>Product Full Description</h5>
                                    <p>{{ object.desc|safe }}</p>
                                </div>
                            </div>

                            <div class="product-tabs__pane" id="tab-specification">
                                <div class="spec">
                                    <h5 class="spec__header">Specification</h5>
                                    <div class="spec__section">
                                        <h4 class="spec__section-title">General
                                        </h4>
                                        <div class="spec__row">
                                            <div class="spec__name">Material</div>
                                            <div class="spec__value">Aluminium, Plastic</div>
                                        </div>

                                        <div class="spec__row">
                                            <div class="spec__name">Engine Type</div>
                                            <div class="spec__value">Brushless</div>
                                        </div>

                                        <div class="spec__row">
                                            <div class="spec__name">Battery Voltage
                                            </div>
                                            <div class="spec__value">18 V</div>
                                        </div>

                                        <div class="spec__row">
                                            <div class="spec__name">Battery Type</div>
                                            <div class="spec__value">Li-lon</div>
                                        </div>

                                        <div class="spec__row">
                                            <div class="spec__name">Number of Speeds</div>
                                            <div class="spec__value">2</div>
                                        </div>

                                        <div class="spec__row">
                                            <div class="spec__name">Charge Time</div>
                                            <div class="spec__value">1.08 h</div>
                                        </div>

                                        <div class="spec__row">
                                            <div class="spec__name">Weight</div>
                                            <div class="spec__value">1.5 kg</div>
                                        </div>
                                    </div>

                                    <div class="spec__section">
                                        <h4 class="spec__section-title">Dimensions</h4>
                                        <div class="spec__row">
                                            <div class="spec__name">Length</div>
                                            <div class="spec__value">
                                            99 mm</div>
                                        </div>
                                        <div class="spec__row">
                                            <div class="spec__name">
                                            Width</div>
                                            <div class="spec__value">
                                            207 mm</div>
                                        </div>
                                        <div class="spec__row">
                                            <div class="spec__name">Height</div>
                                            <div class="spec__value">208 mm</div>
                                        </div>
                                    </div>

                                    <div class="spec__disclaimer">
                                        Information on technical characteristics, the delivery set, the country of manufacture and the appearance of the goods is for reference onl
                                    </div>
                                </div>
                            </div>

                            <div class="product-tabs__pane" id="tab-reviews">
                                <div class="reviews-view">
                                    {% include "shop/review/review.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if related_product %}
                    <!-- .block-related-products-carousel -->
                    {% include "shop/products/product_related.html" %}
                    <!-- end block-related-products-carousel -->
                {% endif %}

                <!-- .block-history-products-carousel -->
                {% include "shop/products/product_history.html" %}
                <!-- end block-history-related-products-carousel -->
            </div>    
        </div>
    </div>
{% endblock content %}
