{% extends "shop/index.html" %}
{% load humanize %}
{% block slideshow %}{% endblock slideshow %}

{% block content %}
    {% block breadcrumb %}
        {% include "layouts/breadcrumb.html" %}    
    {% endblock breadcrumb %}

    <div class="container">        
        <div class="shop-layout shop-layout--sidebar--start">

            {% include "layouts/sidebar.html" %}

            <div class="shop-layout__content">
                <div class="block">
                    <div class="products-view">
                        {% include "layouts/option.html" %}

                        <div class="products-view__list products-list" data-layout="grid-3-sidebar" data-with-features="false">
                            <div class="products-list__body">
                                {% block listing %}
                                    {% for object in object_list %}
                                        {% if query %}
                                            {% include "shop/products/snippets/card.html" with obj=object %}
                                        {% else %}
                                            {% include "shop/products/snippets/card.html" with obj=object %}
                                        {% endif %}
                                    {% endfor %}
                                {% endblock listing %}
                            </div>
                        </div>
                        {% include "layouts/paginate.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
