{% load static %}{% get_static_prefix as STATIC_PREFIX %}
{% load humanize %}
<div class="block-sidebar__item d-none d-lg-block">
    <div class="widget-products widget">
        <h4 class="widget__title">Latest Products</h4>
        <div class="widget-products__list">
            {% for obj in latest_product %}
                <div class="widget-products__item">
                    <div class="widget-products__image">
                        <a title="{{ obj.name }}" href="{{ obj.get_absolute_url }}">
                            <img src="{{ obj.get_image_url }}" alt="{{ obj.name }}">
                        </a>
                    </div>

                    <div class="widget-products__info">
                        <div class="widget-products__name">
                            <a title="{{ obj.name }}" href="{{ obj.get_absolute_url }}">
                                {{ obj.name|truncatewords:8|safe  }}
                            </a>
                        </div>

                        <div class="widget-products__prices">
                            {{ obj.price|intcomma }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
