{% load shoptags %}
<div class="block-sidebar__item">
    <div class="widget-products widget">
        <h4 class="widget__title">Produits récents</h4>
        <div class="widget-products__list">
            {% for obj in latest_product %}
                <div class="widget-products__item">
                    <div class="widget-products__image">
                        <a title="{{ obj.name }}" href="{{ obj.get_absolute_url }}">
                            <img src="{{ STATIC_PREFIX }}img/products/product-16-1.jpg" alt="{{ obj.name }}">
                        </a>
                    </div>

                    <div class="widget-products__info">
                        <div class="widget-products__name">
                            <a title="{{ obj.name }}" href="{{ obj.get_absolute_url }}">
                                {{ obj.name|safe }}
                            </a>
                        </div>

                        <div class="widget-products__prices">
                            {{ obj.price|safe }} FR CFA
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
