{% extends "shop/index.html" %}
{% load widget_tweaks %}

{% block slideshow %}{% endblock slideshow %}

{% block content %}
    {% block breadcrumb %}
    {% include "layouts/breadcrumb.html" %}    
    {% endblock breadcrumb %}

    <div class="checkout block">
        <div class="container">
            <div class="row">
                {% if not request.user.is_authenticated %}
                    <div class="col-12 mb-3">
                        <div class="alert alert-lg alert-danger">
                            Client de retour ? <a href="{% url "accounts:login" %}">
                                Cliquez ici pour vous connecter
                            </a>
                        </div>
                    </div>
                {% endif %}


                <form class="row" method="post" novalidate>
                    {% csrf_token %}

                    <div class="col-12 col-lg-6 col-xl-7">
                        <div class="card mb-lg-0">
                            <div class="card-body">
                                <h3 class="card-title">Détails de la facturation</h3>

                                {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% for error in form.non_field_errors %}
                                      <p {% if forloop.last %}class="mb-0"{% endif %}>
                                        {{ error }}
                                      </p>
                                    {% endfor %}
                                </div>
                                {% endif %}

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="{{ form.first_name.id_for_label }}">
                                        {{ form.first_name.label }}</label>

                                        {{ form.first_name|add_class:'form-control shadow-none'|attr:"placeholder:Votre Nom"|attr:"onfocus:this.placeholder=''"|attr:"onblur:this.placeholder='Votre nom'" }}
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="{{ form.last_name.id_for_label }}">
                                        {{ form.last_name.label }}</label>

                                        {{ form.last_name|add_class:'form-control shadow-none'|attr:"placeholder:Votre Prénom"|attr:"onfocus:this.placeholder=''"|attr:"onblur:this.placeholder='Votre Prénom'" }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="{{ form.company.id_for_label }}">
                                        {{ form.company.label }}
                                    </label>

                                    {{ form.company|add_class:'form-control shadow-none'|attr:"placeholder:Votre Entreprise"|attr:"onfocus:this.placeholder=''"|attr:"onblur:this.placeholder='Votre Entreprise'" }}
                                </div>

                                <div class="form-group">
                                    <label for="{{ form.country.id_for_label }}">
                                        Pays de résidence
                                    </label>
                                    {{ form.country|add_class:'custom-select shadow-none' }}
                                </div>

                                <div class="form-group">
                                    <label for="{{ form.city.id_for_label }}">
                                        {{ form.city.label }}
                                    </label>
                                    {{ form.city|add_class:'form-control shadow-none'|attr:"placeholder:Ville"|attr:"onfocus:this.placeholder=''"|attr:"onblur:this.placeholder='Ville'" }}
                                </div>

                                <div class="form-group">
                                    <label for="{{ form.address.id_for_label }}">
                                        {{ form.address.label }}
                                    </label>

                                    {{ form.address|add_class:'form-control shadow-none'|attr:"placeholder:Adresse de livraison"|attr:"onfocus:this.placeholder=''"|attr:"onblur:this.placeholder='Adresse de livraison'" }}
                                </div>

                                <div class="form-group">
                                    <label for="{{ form.apartement.id_for_label }}">
                                        Appartement
                                    </label>
                                    {{ form.apartement|add_class:'form-control shadow-none'|attr:"placeholder:Appartement"|attr:"onfocus:this.placeholder=''"|attr:"onblur:this.placeholder='Appartement'" }}
                                </div>


                                <div class="form-group">
                                    <label for="{{ form.zipcode.id_for_label }}">
                                        {{ form.zipcode.label }}
                                    </label>
                                    {{ form.zipcode|add_class:'form-control shadow-none'|attr:"placeholder:Code ZIP"|attr:"onfocus:this.placeholder=''"|attr:"onblur:this.placeholder='Code ZIP'" }}
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="{{ form.email.id_for_label }}">
                                        {{ form.email.label }}</label>

                                        {{ form.email|add_class:'form-control shadow-none'|attr:"placeholder:Adresse email"|attr:"onfocus:this.placeholder=''"|attr:"onblur:this.placeholder='Adresse email'" }}
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="{{ form.phone_number.id_for_label }}">
                                        {{ form.phone_number.label }}</label>

                                        {{ form.phone_number|add_class:'form-control shadow-none'|attr:"placeholder:Numéro de téléphone"|attr:"onfocus:this.placeholder=''"|attr:"onblur:this.placeholder='Numéro de téléphone'" }}
                                    </div>
                                </div>

                                <div class="card-divider"></div>

                                <div class="card-body">
                                    <h3>Shipping Details</h3>

                                    <div class="form-group">
                                        <div class="form-check">
                                            <span class="form-check-input input_check">
                                                <span class="input-check__body">
                                                    <input type="checkbox" class="input-check__input"id="checkout-different-address">
                                                    <span class="input-check__box"></span>
                                                    <svg class="input-check__icon" width="9px" height="7px">
                                                        <use xlink:href="{{ STATIC_PREFIX }}img/sprite.svg#check-9x7"></use>
                                                    </svg>
                                                </span>
                                            </span>

                                            <label class="form-check-label" for="checkout-different-address">Ship to a different address ?</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="{{ form.note.id_for_label }}">
                                            {{ form.note.label }}
                                        </label>
                                        {{ form.note|add_class:'form-control shadow-none'|attr:"placeholder:Numéro de téléphone"|attr:"onfocus:this.placeholder=''"|attr:"onblur:this.placeholder='Un mot sur le produit ?'" }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0">
                        <div class="card mb-0">
                            <div class="card-body">
                                <h3 class="card-title">Votre commande</h3>
                                <table class="checkout__totals">
                                    <thead class="checkout__totals-header">
                                        <tr>
                                            <th>Produit</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody class="checkout__totals-products">
                                        {% for obj in location %}
                                        {% with product=obj.product %}
                                        <tr>
                                            <td>{{ product.name|safe }}</td>
                                            <td>{{ product.price|safe }} Fr CFA</td>
                                        </tr>
                                        {% endwith %}
                                        {% endfor %}
                                    </tbody>

                                    <tbody class="checkout__totals-subtotals">
                                        <tr>
                                            <th>Sous total</th>
                                            <td>{{ location.get_total_price|safe }}</td>
                                        </tr>
                                        <tr>
                                            <th>Store Credit</th>
                                            <td>$-20.00</td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td>$25.00</td>
                                        </tr>
                                    </tbody>

                                    <tfoot class="checkout__totals-footer">
                                        <tr>
                                            <th>Total (FR CFA)</th>
                                            <td>{{ location.get_total_price|safe }}</td>
                                        </tr>
                                    </tfoot>
                                </table>

                                <div class="payment-methods">
                                    <ul class="payment-methods__list">
                                        <li class="payment-methods__item payment-methods__item--active">
                                            <label class="payment-methods__item-header">
                                                <span class="payment-methods__item-radio input-radio">
                                                    <span class="input-radio__body">
                                                        <input class="input-radio__input" name="checkout_payment_method" type="radio" checked="checked">
                                                        <span class="input-radio__circle"></span>
                                                    </span>
                                                </span>
                                                <span class="payment-methods__item-title">
                                                Virement bancaire</span>
                                            </label>

                                            <div class="payment-methods__item-container">
                                                <div class="payment-methods__item-description text-muted">Effectuez votre paiement directement sur notre compte bancaire. Veuillez utiliser votre numéro de commande comme référence de paiement. Votre commande ne sera pas expédiée tant que les fonds n'auront pas été débloqués sur notre compte. 
                                                </div>
                                            </div>
                                        </li>

                                        <li class="payment-methods__item">
                                            <label class="payment-methods__item-header">
                                                <span class="payment-methods__item-radio input-radio">
                                                    <span class="input-radio__body">
                                                        <input class="input-radio__input" name="checkout_payment_method" type="radio">
                                                        <span class="input-radio__circle">
                                                        </span>
                                                    </span>
                                                </span>

                                                <span class="payment-methods__item-title">Paiements par chèque
                                                </span>
                                            </label>

                                            <div class="payment-methods__item-container">
                                                <div class="payment-methods__item-description text-muted">
                                                    Veuillez envoyer un chèque au nom du magasin, à la rue du magasin, à la ville du magasin, à l'État ou au comté du magasin, au code postal du magasin.
                                                </div>
                                            </div>
                                        </li>

                                        <li class="payment-methods__item">
                                            <label class="payment-methods__item-header">
                                                <span class="payment-methods__item-radio input-radio">
                                                    <span class="input-radio__body">
                                                        <input class="input-radio__input" name="checkout_payment_method" type="radio">
                                                        <span class="input-radio__circle"></span>
                                                    </span>
                                                </span>

                                                <span class="payment-methods__item-title">Paiement à la livraison</span>
                                            </label>

                                            <div class="payment-methods__item-container">
                                                <div class="payment-methods__item-description text-muted">Payez en espèces à la livraison.
                                                </div>
                                            </div>
                                        </li>

                                        <li class="payment-methods__item">
                                            <label class="payment-methods__item-header">
                                                <span class="payment-methods__item-radio input-radio">
                                                    <span class="input-radio__body">
                                                        <input class="input-radio__input" name="checkout_payment_method" type="radio">
                                                        <span class="input-radio__circle"></span>
                                                    </span>
                                                </span>
                                                <span class="payment-methods__item-title">PayPal</span>
                                            </label>
                                            <div class="payment-methods__item-container">
                                                <div class="payment-methods__item-description text-muted">Payez via PayPal ; vous pouvez payer avec votre carte de crédit si vous n'avez pas de compte PayPal.
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="checkout__agree form-group">
                                    <div class="form-check">
                                        <span class="form-check-input input-check">
                                            <span class="input-check__body">
                                                <input class="input-check__input" type="checkbox" id="checkout-terms">
                                                <span class="input-check__box"></span>
                                                <svg class="input-check__icon" width="9px" height="7px">
                                                    <use xlink:href="{{ STATIC_PREFIX }}img/sprite.svg#check-9x7"></use>
                                                </svg>
                                            </span>
                                        </span>

                                        <label class="form-check-label" for="checkout-terms">J'ai lu et j'accepte le site web
                                            <a target="_blank" href="{% url "cgu" %}">modalités et conditions</a>*
                                        </label>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary btn-md btn-block">Passer la commande</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock content %}