<!-- .block-categories -->
<div class="block block--highlighted block-categories block-categories--layout--compact">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">Categories</h3>
            <div class="block-header__divider"></div>
        </div>

        <div class="block-categories__list">
            {% for obj in main_category %}
                <div class="block-categories__item category-card category-card--layout--compact">
                    <div class="category-card__body">
                        <div class="category-card__image">
                            <a title="{{ obj.name }}" href="{{ obj.get_absolute_url }}">
                                <img src="{{ obj.img.url }}" alt="{{ obj.name }}">
                            </a>
                        </div>

                        <div class="category-card__content">
                            <div class="category-card__name">
                                <a title="{{ obj.name }}" href="{{ obj.get_absolute_url }}">{{ obj.name }}</a>
                            </div>
                            <div class="category-card__products">
                                {{ obj.categorymodel_set.count }} Sub-categor{{ obj.categorymodel_set.count|pluralize:"y,ies" }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- .block-categories / end -->
