{% extends "base.html" %}

{% block content %}
  {% block breadcrumb %}
    {% include "layouts/breadcrumb.html" %}    
  {% endblock breadcrumb %}

    <div class="block">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-10 col-md-10">
            <div class="card flex-grow-1 mb-md-0 mt-5">
              <div class="card-body">
                <h5 class="text-center">
                Do you want to delete this product ?</h5>
                <em class="text-success font-italic">
                "{{ object.name|title}}"</em>

                <p class="font-italic text-muted mb-1">
                Do you want to delete this product "{{ object.name }}" ?</p>

                <form class="form-row" method="post" novalidate>
                  {% csrf_token %}

                  <div class="form-group col-md-6">
                    <a href="{% url 'dashboard:dashboard' %}" class="shadow-none btn btn-sm text-uppercase float-right" type="submit">Cancel</a>
                  </div>

                  <div class="form-group col-md-6">
                    <input class="shadow-none btn btn-sm btn-danger text-uppercase" value="delete product" type="submit">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}