{% extends "base.html" %}
{% load shoptags humanize %}


{% block desktop %}
    {% include "includes/menu/header.html" %}
{% endblock desktop %}

{% block slideshow %}{% endblock slideshow %}

{% block content %}
    {% block breadcrumb %}
        {% include "layouts/breadcrumb.html" %}    
    {% endblock breadcrumb %}

    <div class="block">
        <div class="container">
            <div class="row justify-content-end">
                {% if messages %}
                    <div class="col-6 float-right">
                        {% for message in messages %}
                            <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %} alert-dismissible fade show" role="alert">
                                <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <div class="col-md-4 d-flex">
                    <div class="card flex-grow-1 mb-md-0">
                        <div class="card-body">
                            <h3 class="card-title">Account Details</h3>

                            <div class="form-group">
                                <label class="font-weight-bold">Full Name :</label> Mr/Mme {{ user.get_full_name }} <br>

                                <label class="font-weight-bold">
                                Email :</label>
                                {{ request.user.email }} <br>

                                <label class="font-weight-bold">
                                Country/City :</label>
                                {{ request.user.country.name }}/{{ request.user.city }} <br>

                                <label class="font-weight-bold">
                                Contact :</label>
                                {{ request.user.phone_number }} <br>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-6">
                                    <a href="{% url 'accounts:update' %}" class="btn btn-primary btn-sm btn-block">Update Details</a>
                                </div>

                            <div class="form-group col-6">
                                <a href="{% url 'accounts:password_change' %}" class="btn btn-primary btn-sm btn-block">
                                Change Password</a>
                                </div>
                            </div>
                        </div>

                        <div class="card-divider"></div>

                        <div class="card-body">
                            <h3 class="card-title">Resume</h3>
                            <div>
                                <div class="form-group">
                                    <label class="font-weight-bold">
                                    Number of product{{ product_count|pluralize }}: ({{ product_count }}) product{{ product_count|pluralize }}</label>
                                    <br>

                                    <label class="font-weight-bold">Number of Order{{ order_count|pluralize }}: ({{ order_count }}) order{{ order_count|pluralize }} </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 d-flex mt-4 mt-md-0">
                    <div class="card flex-grow-1 mb-md-0">
                        <div class="card-body">
                            <h3 class="card-title">Product on rente</h3>

                            <div class="py-2">
                                <table class="table table-sm">
                                    <tr class="small text-capitalize">
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Add to</th>
                                        <th>Views</th>
                                        <th class="cart-table__column cart-table__column--remove"></th>
                                        <th class="cart-table__column cart-table__column--remove"></th>
                                    </tr>
                                    {% for obj in object_list|slice:'0:5' %}
                                    <tr>
                                        <td data-title="Product">
                                            <a href="{{ obj.get_absolute_url }}">{{ obj.name|truncatewords:6|safe }}</a>
                                        </td>

                                        <td data-title="Prix">{{ obj.price|intcomma }}</td>

                                        <td data-title="Date de location">{{ obj.rent_date|date }}</td>

                                        <td class="text-center" data-title="Nombre de vues">
                                            {{ obj.views|intcomma }}
                                        </td>

                                        <td class="cart-table__column cart-table__column--remove">
                                            <a href="{% url 'dashboard:update_product' obj.slug %}" type="button" class="btn btn-light btn-sm btn-svg-icon" title="Update product">
                                                <i class="fa fa-edit mr-2"></i>
                                            </a>
                                        </td>

                                        <td class="cart-table__column cart-table__column--remove">
                                            <a href="{% url 'dashboard:delete_product' obj.slug %}" type="button" class="btn btn-light btn-sm btn-svg-icon" title="Remove product">
                                                <svg width="12px" height="12px">
                                                    <use xlink:href="{{ STATIC_PREFIX }}img/sprite.svg#cross-12"></use>
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            
                            <div class="form-row">
                                <div class="form-group"><a href="{% url 'dashboard:add_product' %}" class="btn btn-primary btn-sm text-uppercase">add new product</a></div>

                                <div class="form-group ml-3"><a href="{% url 'dashboard:user_product' %}" class="btn btn-link btn-sm text-uppercase">views all products</a></div>
                            </div>
                        </div>

                        <div class="card-divider"></div>

                        <div class="card-body">
                            <h3 class="card-title">Orders</h3>

                            <div class="py-2">
                                <table class="table table-sm">
                                    <tr class="small text-capitalize">
                                        <th>Order ID</th>
                                        <th>Status</th>
                                        <th>Add to</th>
                                    </tr>

                                    {% for obj in orders|slice:'0:5' %}
                                        <tr>
                                            <td data-title="Produit">
                                                <span>
                                                {{ obj.order_id|safe }}</span>
                                            </td>

                                            <td data-title="Status">
                                                {{ obj.get_status|safe}}
                                            </td>

                                            <td data-title="Created">{{ obj.created|date }}</td>
                                        </tr>   
                                    {% endfor %}
                                </table>
                            </div>

                            <a href="{% url 'dashboard:user_order' %}" class="btn btn-primary btn-sm text-uppercase">views all orders</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
