{% load humanize %}
<div class="products-list__item">
    <div class="product-card">
        <button class="product-card__quickview" type="button">
            <svg width="16px" height="16px">
                <use xlink:href="{{ STATIC_PREFIX }}img/svg/sprite.svg#quickview-16"></use>
            </svg>
            <span class="fake-svg-icon"></span>
        </button>
        
        {% if obj.label %}
            <div class="product-card__badges-list">
                <div class="product-card__badge product-card__badge--new">
                {{ obj.label }}</div>
            </div>
        {% endif %}

        <div class="product-card__image">
            <a title="{{ obj.name }}" href="{{ obj.get_absolute_url }}">
                <img src="{{ obj.get_image_url }}" alt="{{ obj.name }}">
            </a>
        </div>

        <div class="product-card__info">
            <div class="product-card__name">
                <a href="{{ obj.get_absolute_url }}">
                    {{ obj.name|truncatewords:8|safe }}
                </a>
            </div>
            
             {% if rating %}
                <div class="product-card__rating">
                    {% include "layouts/rating.html" %}
                    <div class="product-card__rating-legend">9 Reviews</div>
                </div>
            {% endif %}

            <ul class="product-card__features-list">
                <li>Speed: 750 RPM</li>
                <li>Power Source: Cordless-Electric</li>
                <li>Battery Cell Type: Lithium</li>
                <li>Voltage: 20 Volts</li>
                <li>Battery Capacity: 2 Ah</li>
            </ul>
        </div>

        <div class="product-card__actions">
            <div class="product-card__availability">
                Available:
                <span class="text-success">
                {{ obj.available|yesno:"Yes,No" }}</span>
            </div>

            <div class="product-card__prices">
                {{ obj.price|intcomma }}
            </div>

            <div class="product-card__buttons">
                <form method='POST' action="{% url "location:update" %}" data-endpoint="{% url "location:update" %}" {% if request.user.is_authenticated %}data-user='unsta'{% endif %}>{% csrf_token %}
                    <input type='hidden' name='product_id' value='{{ obj.id }}'>
                    {% if obj in location.product.get_available %}
                        <button type="submit" class="btn btn-primary product-card__addtocart submit">Delete ?</button>
                        <button type="submit" class="btn btn-secondary product-card__addtocart product-card__addtocart--list submit">Delete ?</button>
                    {% else %}
                        <button type="submit" class="btn btn-primary product-card__addtocart submit">Add to cart</button>
                        <button type="submit" class="btn btn-secondary product-card__addtocart product-card__addtocart--list submit">
                            Add to cart
                        </button>
                    {% endif %}
                </form>

                <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                    <svg width="16px" height="16px">
                        <use xlink:href="{{ STATIC_PREFIX }}img/svg/sprite.svg#wishlist-16"></use>
                    </svg>

                    <span class="fake-svg-icon fake-svg-icon--wishlist-16">
                    </span>
                </button>

                <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__compare" type="button">
                    <svg width="16px" height="16px">
                        <use xlink:href="{{ STATIC_PREFIX }}img/svg/sprite.svg#compare-16"></use>
                    </svg>

                    <span class="fake-svg-icon fake-svg-icon--compare-16">
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>