
<div style="padding: 20px; background: #fafafa;font-size:15px;">
    Hi<br>
    Thanks for subscribing to {{ project_name }} newsletter.<br>
    We will be sending you latest published articles on

    <a href="{{ site_url }}">{{ site_url }}</a>. Mail frequency won't be more than twice a month.<br>
    We hate spamming as much as you do.<br>

    <br>
    <p>
        Note:<br>
        This is notification only email. Please do not reply on this email.<br>
        You can <a href="{{ contact_us_url }}">contact us here</a>.
    </p>
</div>
